
.nav{
    display:flex;
    justify-content: space-around;
    width: 100vw;
    padding: 14px;
    background-color: rgb(9, 7, 7);
    
}
.nav .section1{
    display: flex;
    justify-content: space-around;
    width: 25vw;

}

nav>a{
    color: aliceblue;
}


.main .landing{
    height: 47vh;
    background-image: url(./Math.jpg);
}